## Imbalanced Dataset Handling
1. Upsampling
2. Down Sampling

In [2]:
import numpy as np
import pandas as pd

In [3]:
# Set The Random Seed For Reproducibility 
np.random.seed(123)

# Create A Dataframe With Two Classes
n_samples = 1000 
class_0_ratio = 0.9 
n_class_0 = int(n_samples * class_0_ratio)
n_class_1 = n_samples - n_class_0

In [4]:
n_class_0,n_class_1

(900, 100)

In [5]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [6]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [7]:
df.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [8]:
df['target'].value_counts()

0    900
1    100
Name: target, dtype: int64

## Upsampling

In [9]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [10]:
df_minority.head()

     feature_1  feature_2  target
900   1.699768   2.139033       1
901   1.367739   2.025577       1
902   1.795683   1.803557       1
903   2.213696   3.312255       1
904   3.033878   3.187417       1

In [11]:
df_majority.head()

   feature_1  feature_2  target
0  -1.085631   0.551302       0
1   0.997345   0.419589       0
2   0.282978   1.815652       0
3  -1.506295  -0.252750       0
4  -0.578600  -0.292004       0

In [12]:
## Upsampling Perform 
from sklearn.utils import resample

In [13]:
df_minority_upsample=resample(df_minority,
                             replace=True, ## Sample With Replacement 
                              n_samples=len(df_majority), # To Match The Majority Class)
                              random_state=42
                             )

In [14]:
df_minority_upsample.shape

(900, 3)

In [15]:
df_minority_upsample['target'].value_counts()

1    900
Name: target, dtype: int64

In [16]:
df_upsampled= pd.concat([df_majority,df_minority_upsample])

In [17]:
df_upsampled['target'].value_counts()

0    900
1    900
Name: target, dtype: int64

In [18]:
df_upsampled.shape

(1800, 3)

## Down Sampling

In [19]:
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [20]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [21]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [22]:
df_majority_downsample=resample(df_majority,
                             replace=False, ## Sample Without Replacement 
                              n_samples=len(df_minority), # To Match The Minority Class )
                              random_state=42
                             )

In [23]:
df_majority_downsample.shape

(100, 3)

In [24]:
df_downsample=pd.concat([df_minority,df_majority_downsample])

In [25]:
df_downsample['target'].value_counts()

1    100
0    100
Name: target, dtype: int64